body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c68e8e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  justify-content: center;
  align-content: center;
  /* Same as above */
  font:
    normal 16px/1.6 Arial,
    Helvetica,
    sans-serif;

  line-height: normal;
  width: 100%;
}
.about-me {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-top: 2rem;
  width: 70%;
}

header {
  flex-direction: row;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
main {
  padding-left: 25%;
  margin: 50px auto;
  width: 70%;
}
h2,
h3 {
  color: #333;
}
p {
  line-height: 1.6;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 0.5rem;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
